.category__selector {
      margin-top: 20px;
      padding: 10px;
      border-radius: 10px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .categories-lg {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      max-width: fit-content;
      margin: auto;
      border-radius: 20px;
      background: #f7f8fc;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    
    .category__item {
      padding: 8px 15px;
      background: #f7f8fc;
      border-radius: 20px;
      font-size: 0.9rem;
      color: #333;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    
    .category__item:hover {
      background: var(--secondary-color);
      color: #fff;
    }
    
    .category__item.selected {
      background: var(--secondary-color); /* Persistent hover effect */
      color: #fff;
    }
    
    /* Dropdown styling for small screens */
    .dropdown-sm {
      display: none;
      padding: 8px 15px;
      border: 1px solid #ccc;
      border-radius: 10px;
      background: #fff;
      font-size: 1rem;
      color: #333;
    }
    
    @media (max-width: 768px) {
      .categories-lg {
        display: none;
      }
    
      .dropdown-sm {
        display: block;
        text-align: center;
      }
    }
    
    @media (min-width: 769px) {
      .dropdown-sm {
        display: none;
      }
    }
    